<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">
    <display-name>ServletInterface</display-name>

    <servlet>
        <description></description>
        <display-name>DemoServet</display-name>
        <servlet-name>DemoServ</servlet-name>
        <servlet-class>com.yuva.DemoServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoServ</servlet-name>
        <url-pattern>/DemoServ</url-pattern>
    </servlet-mapping>
</web-app>
